header {
  max-width: 1440px;
  margin: 0 15px;
}

.header-container {
  max-height: 44px;
  margin: 18px auto;
  max-width: 1360px;
  display: grid;
  // grid-template-columns: 29.5681063% 35.3820598% 35.0498339%;
  grid-template-columns: 33.333% 33.333% 33.333%;
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;

  a {
    margin: auto 0;
    color: #0b3b3c;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }

  .central-img {
    margin: auto;
    width: clamp(73px, 22.91vw , 170px);
    // margin-right: 83px;
  }
}

.header-container-link {
  margin: auto 0;
  display: flex;
  font-size: 12px;
}

.header-container-link-left {
  gap: calc(20px + 16 * ((100vw - 768px) / (1440 - 768)));
  // gap: 3em;
}

.header-container-link-right {
  gap: 2.75em;
  margin: auto 0 auto auto;
  .img {
    width: 19px;
    height: 23px;
    margin: auto 0;
  }
}
