main {
  max-width: 1440px;
}

// первый контейнер

.main-container-first-img-h1 {
  display: flex;
  margin: 0 auto;
  // height: 0vw + 500 / 1440 * 100vw;
  max-height: 765px;
  position: relative;
  // overflow: hidden;

  .main-container-first-img-h1-inner-container {
    // background-color: blue;
    // top: 170px;
    top: clamp(
      20px,
      calc(20px + 150 * ((100vw - 768px) / (1440 - 768))),
      170px
    );
    left: 50%;
    transform: translate(-50%);
    position: absolute;

    h1 {
      margin: auto;
      margin-bottom: 23px;
      max-width: 469px;
      color: #0b3b3c;
      font-weight: 700;
      font-size: clamp(
        14px,
        calc(14px + 40 * ((100vw - 320px) / (1440 - 320))),
        54px
      );
      // font-size: clamp(22px,calc(22px + 32 * ((100vw - 320px) / (1440 - 320)), 54px));
      // line-height: 80px;
      line-height: clamp(
        20px,
        calc(20px + 60 * ((100vw - 320px) / (1440 - 320))),
        80px
      );
      // letter-spacing: 1.8px;
      letter-spacing: calc(1px + 0.8 * ((100vw - 320px) / (1440 - 320)));
    }

    p {
      margin-bottom: calc(20px + 21 * ((100vw - 320px) / (1440 - 320)));
      font-size: clamp(
        12px,
        calc(12px + 6 * ((100vw - 320px) / (1440 - 320))),
        18px
      );
      line-height: 30.06px;
      max-width: 481px;
    }
  }
  img {
    // object-fit: cover;
    width: 100%;
  }

  .flex-container-button {
    font-family: Roboto;
    // margin-top: 41px;
    display: flex;
    flex-direction: column;
    gap: 19px;

    button {
      border: 2px solid #7e0707;
      margin: 0 auto;
      display: block;
      width: clamp(
        150px,
        calc(150px + 170 * ((100vw - 320px) / (1440 - 320))),
        320px
      );
      height: 46px;
      background-color: transparent;
      span {
        font-family: Roboto;
        color: #7e0707;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 2.1px;
        text-transform: uppercase;
      }
    }

    button:hover {
      border: 2px solid #7e0707;
      background: #7e0707;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 2.1px;
      text-transform: uppercase;
    }
  }
}

.main-first-section {
  margin-bottom: clamp(
    50px,
    calc(50px + 76 * ((100vw - 320px) / (1440 - 320))),
    126px
  );
}

.main-container-first-icon-grid {
  margin: 45px 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 25%);

  div {
    // max-width: 248px;
    margin: auto;
    width: 100%;
    display: flex;
    min-height: 50px;

    img {
      margin: auto 14px auto 16px;
    }

    p {
      margin: auto 0;
    }
  }
}
// конец первого конейнера

// второй контейнер
.main-second-section {
  margin: 0 auto 84px auto;

  #loop {
    margin: 0 auto;
    display: block;
    width: 112px;
    height: 187px;
  }

  h2 {
    color: #0b3b3c;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px; /* 171.429% */
    letter-spacing: 1.2px;
  }

  p {
    margin: 0 auto 40px auto;
    color: #00b67a;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px; /* 166.667% */

    span {
      color: #0b3b3c;
      font-size: 18px;
      font-weight: 400;
    }
  }

  #star {
    display: block;
    margin: 10px auto;
  }
}

.main-container-card {
  margin: 0 auto 26px auto;
  max-width: 1132px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex-shrink: 1;
  //   background-color: yellow;
  width: 377px;
  min-height: 480px;
  //   margin-bottom: 26px;
  h3 {
    color: #0b3b3c;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px; /* 160% */
    letter-spacing: 0.84px;
    margin-bottom: 16px;
  }

  p {
    margin: auto 22px;
    color: #0b3b3c;
    font-weight: 400;
    line-height: 32px;
    max-width: 333px;
  }

  img {
    display: block;
    margin: 0 auto;
  }
  div {
    max-height: 283px;
    max-width: 377px;

    .first-card {
      width: 89.92%;
      height: auto;
    }

    .second-card {
      width: 87%;
      height: auto;
      margin-bottom: 10px;
    }

    .thrid-card {
      width: 92.3%;
      height: auto;
      margin-top: 30px;
      margin-bottom: 14px;
    }
  }
}
// конец второго контейнера

// третий контейнер
.main-third-section {
  max-width: 1382px;
  margin: 0 auto 48px auto;
}

.main-trhird-siction-container {
  max-width: 1362px;
  margin-left: 10px;
  margin-right: 10px;
  h2 {
    margin-bottom: clamp(
      13px,
      calc(13px + 30 * ((100vw - 320px) / (1440 - 320))),
      43px
    );
    color: #0b3b3c;
    font-size: clamp(
      19px,
      calc(19px + 16 * ((100vw - 320px) / (1440 - 320))),
      35px
    );
    font-weight: 400;
    line-height: clamp(
      30px,
      calc(30px + 30 * ((100vw - 320px) / (1440 - 320))),
      60px
    );
    letter-spacing: 1.2px;
  }
}

.main-card-treatments {
  // position: relative;
  margin: 0 auto;
  // max-height: 1274px;
  max-width: 1362px;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto;

  div {
    background-color: #e8efe9;

    img {
      width: 56.04%;
      height: auto;
      display: block;
      margin: 0 auto;

      margin-bottom: 10px;
    }

    p {
      margin: 0 auto;
      max-width: clamp(
        300px,
        calc(300px + 200 * ((100vw - 768px) / (1440 - 768))),
        500px
      );
      color: #0b3b3c;
      font-size: clamp(
        14px,
        calc(14px + 2 * ((100vw - 768px) / (1440 - 768))),
        16px
      );
      font-weight: 400;
      line-height: 29px; /* 181.25% */
    }

    h3 {
      margin: 0 auto 10px auto;
      color: #0b3b3c;
      font-size: 20px;
      font-weight: 700;
      line-height: 40px; /* 200% */
      letter-spacing: 0.72px;
    }
  }
}

.main-card-treatments-card {
  position: relative;
}

.main-card-treasments-inner-container {
  height: auto;
  margin-top: clamp(
    20px,
    calc(20px + 20 * ((100vw - 768px) / (1440 - 768))),
    40px
  );
  margin-bottom: clamp(
    54px,
    calc(54px + 42 * ((100vw - 768px) / (1440 - 768))),
    96px
  );
}

.main-card-treasments-inner-container-view-line {
  position: absolute;

  bottom: clamp(20px, calc(20px + 28 * ((100vw - 768px) / (1440 - 768))), 48px);
  left: 50%;
  transform: translateX(-50%);
  a {
    text-decoration: none;
    display: block;
    color: #0b3b3c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }

  .line {
    background-color: #0b3b3c;
    margin: 4px auto 0 auto;
    width: 168px;
    height: 2px;
    flex-shrink: 0;
  }
}
// конец третий контейнер

// четвертый контейнер
.main-fourth-section {
  background-color: #e8efe9;
  margin: 0 20px 40px 20px;
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
}

.main-left-text {
  margin-left: clamp(
    20px,
    calc(20px + 20 * ((100vw - 768px) / (1440 - 768))),
    40px
  );
  margin-top: clamp(
    48px,
    calc(48px + 67 * ((100vw - 768px) / (1440 - 768))),
    115px
  );
  // margin-top: 10px;
  max-width: 620px;

  h2 {
    margin-bottom: 27px;
    text-align: left;
    color: #0b3b3c;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px; /* 166.667% */
    letter-spacing: 1.2px;
  }

  button {
    margin-bottom: 40px;
    display: block;
    width: 320px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid #7e0707;
    background-color: #7e0707;
    margin-left: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
}

#main-left-text-full {
  text-align: left;
  max-width: 602px;
  margin-bottom: 37px;
}

#new {
  background-color: #bdcdc5;
  width: 42px;
  height: 23px;
  margin-bottom: 24px;

  p {
    display: block;
    width: 25px;
    height: 15px;
    padding-top: 4px;
    padding-left: 6px;
    color: #0b3b3c;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px; /* 150% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

#grid-check-mark {
  max-width: 608px;
  display: grid;
  //   grid-template-columns: 29.2763158% 35.0328947% 35.6907895%;
  grid-template-columns: 29.5681063% 35.3820598% 35.0498339%;

  img {
    display: block;
    margin: auto 0;
    width: 11px;
    height: 11px;
  }
  p {
    margin: 0;
    margin-left: clamp(
      0px,
      calc(0px + 8 * ((100vw - 320px) / (1440 - 320))),
      8px
    );
    color: #0b3b3c;
    font-size: clamp(
      11px,
      calc(11px + 4 * (100vw - 768px) / (1440 - 768)),
      15px
    );

    line-height: clamp(
      20px,
      calc(20px + 9 * (100vw - 768px) / (1440 - 768)),
      29px
    );
    font-weight: 400;
  }
}

.main-container-check-mark-flex {
  display: flex;
}

.main-right-icons {
  max-width: 482px;
  display: grid;
  grid-template-columns: repeat(
    3,
    clamp(110px, calc(110px + 40 * (100vw - 768px) / (1440 - 768)), 150px)
  );
  grid-template-rows: repeat(
    3,
    clamp(130px, calc(130px + 20 * (100vw - 768px) / (1440 - 768)), 150px)
  );
  grid-gap: 16px;
  margin: 48px 48px 48px 10px;

  div {
    background-color: white;

    img {
      margin: 22px auto 8px auto;
      display: block;
      width: 41.33%;
      height: auto;
    }

    p {
      color: #0b3b3c;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.06px; /* 167% */
    }
  }
}

// конец четвертого контейнера

// пятый контейнер
.main-fifth-container {
  max-width: 1440px;
  margin-bottom: 120px;
}

.main-fifth-container-slider {
  // background-color: red;
  height: 601px;
}

.main-fifth-container-slider-panel {
  position: relative;
  text-align: center;
  margin: 0 auto;
  // width: 710px;
  // height: 601px;
  // background-color: #e8efe9;
}

.main-fifth-container-slider-panel-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 570px;
  height: 331px;
  // background-color: blue;
  transform: translate(-50%, -50%);
}

.main-fifth-container-slider-panel-container-star-container {
  background-color: #e8efe9;
  max-width: 95px;
  margin: 0 auto 53px auto;
  display: flex;
}

.quick {
  max-width: 526px;
  color: #0b3b3c;
  font-size: clamp(
    16px,
    calc(16px + 12 * ((100vw - 320px) / (1440 - 320))),
    28px
  );
  font-style: normal;
  font-weight: 400;
  line-height: clamp(
    26px,
    calc(26px + 19 * ((100vw - 320px) / (1440 - 320))),
    45px
  );
  letter-spacing: 0.84px;
  margin: 0 auto;
}

.Zander {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: clamp(0px, calc(0px + 140 * ((100vw - 320px) / (1440 - 320))), 140px);
  text-align: center;
  margin: 0 auto;
  color: #0b3b3c;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}

.slide-circle{
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-59.1%, -50%);
}

.main-text-description {
  color: #0b3b3c;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 10px;
}

.main-text-person {
  color: #0b3b3c;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  margin-bottom: 31px;
}

#img-ring-person {
  display: block;
  margin: 0 auto;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 80px;
  margin-bottom: clamp(
    20px,
    calc(20px + 42 * ((100vw - 320px) / (1440 - 320))),
    62px
  );
}

.main-logo-Truspilot-star {
  max-width: 330px;
  display: flex;
  justify-content: center;
  margin: 0 auto 18px auto;
  flex-wrap: wrap;
  gap: 10px;
}

.main-star {
  margin-top: 10px;
  height: 30px;
}

.main-text-reviews {
  color: #0b3b3c;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px; /* 180% */
  margin-bottom: clamp(
    20px,
    calc(20px + 45 * ((100vw - 320px) / (1440 - 320))),
    65px
  );
}

// конец пяток контейнера

// начало шестого контейнера
.main-six-container {
  margin: 0 auto 120px auto;
  max-width: 1180px;
}

.main-six-container-inner-container {
  max-width: 1150px;
  margin: 0 15px;
  h2 {
    margin: 0 auto 30px auto;
    color: #0b3b3c;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px; /* 166.667% */
    letter-spacing: 1.2px;
  }
}

.main-six-container-text {
  margin: 0 auto 30px auto;
  max-width: 823px;
  color: #7e0707;
  font-size: 24px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.72px;
}

.main-six-container-card-people-flex {
  display: flex;
  justify-content: space-between;
  max-width: 903px;
  margin: 0 auto;
  // gap: 5px;
  flex-wrap: wrap;
}
.main-six-conainer-card-people-flex-container {
  // margin: 0 auto;
  width: 288px;
  div {
    max-width: 264px;
    margin-left: 13px;
    // background-color: green;
    max-height: 438px;
    max-width: 264px;
    margin-bottom: 50px;

    img {
      display: block;
      margin-bottom: 38px;
    }

    p {
      text-align: start;
    }
  }
}

.main-six-container-card-people-name {
  color: #0b3b3c;
  font-size: 18px;
  line-height: 32px; /* 177.778% */
}
.main-six-container-card-people-job-title {
  color: #91ab9f;
  font-size: 16px;
  line-height: 29px; /* 181.25% */
}

.main-six-container-Book-Consultation {
  border-top-width: 1px;
  border-top-color: #bdcdc5;
  border-top-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  // width: 79.86%;
  // min-height: 163px;
  flex-wrap: wrap;
  // background-color: green;

  button {
    margin: 57px 75px 56px 10px;
    // margin-left: 10px;
    // margin-right: 75px;
    width: 330px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid #7e0707;
    background: #7e0707;

    span {
      text-align: center;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 142.857% */
      letter-spacing: 2.1px;
      text-transform: uppercase;
    }
  }
}

.main-six-container-book-consultation-left-flex {
  margin: auto 0 auto 24px;
  max-width: 698px;
  display: flex;
  // justify-content: space-between;

  img {
    width: 40px;
    height: 40px;
    margin: auto 9px auto 0;
  }
}

.main-six-container-Book-Consultation-text-main {
  margin-left: 0;
  text-align: start;
  color: #0b3b3c;
  font-size: 20px;
  font-weight: 400;
  line-height: 43px; /* 215% */
  letter-spacing: 0.72px;
}

.main-six-container-Book-Consultation-text {
  text-align: start;
  color: #91ab9f;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px; /* 193.333% */
}
// конец 6 контейнера

// начало 7 контейнера
.main-seven-container {
  max-width: 100vw;
  height: auto;
  margin-bottom: 140px;
}

.main-seven-container-img-text {
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  div {
    position: absolute;
    top: clamp(
      30px,
      calc(30px + 319 * ((100vw - 320px) / (1440 - 320))),
      349px
    );
    left: clamp(
      14px,
      calc(14px + 166 * ((100vw - 320px) / (1440 - 320))),
      180px
    );
    font-size: 18px;
    line-height: 30.06px; /* 167% */
    p {
      font-size: clamp(
        12px,
        calc(12px + 6 * ((100vw - 320px) / (1440 - 320))),
        18px
      );
      max-width: clamp(
        150px,
        calc(150px + 210 * ((100vw - 320px) / (1440 - 320))),
        360px
      );
      line-height: clamp(
        20px,
        calc(20px + 10.06 * ((100vw - 320px) / (1440 - 320))),
        30.06px
      );
      color: #fff;
      font-weight: 400;
    }
  }
}

#main-seven-container-text-signature {
  margin-top: 15px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.main-seven-container-button {
  background: #f3f7f4;
  align-items: center;
  display: flex;
  margin: 40px auto;
  // height: 130px;
  justify-content: center;
  gap: 20px;

  button {
    width: 228px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid #7e0707;
    background: #7e0707;

    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
}

// конец 7 контейнера

// начало 8 контейнера

.main-eight-container {
  h2 {
    color: #0b3b3c;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px; /* 150% */
    letter-spacing: 1.2px;
    margin-bottom: 36px;
  }
}

.main-eight-container-text {
  // display: flex;
  // justify-content: center;
  // margin-left: 10px;
  // margin-right: 10px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #0b3b3c;
  max-width: 600px;
  font-size: 23px;
  font-weight: 400;
  line-height: 43px; /* 186.957% */
  letter-spacing: 0.72px;
  margin-bottom: 34px;
}

.main-eight-container-card-flex {
  display: flex;
  justify-content: space-between;

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  p {
    text-align: start;
    color: #0b3b3c;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.72px;
    margin-bottom: 202px;
  }
}

.main-eight-container-card {
  width: clamp(103px, 20.83vw, 300px);
  height: clamp(
    300px,
    calc(300px + 255 * ((100vw - 320px) / (1440 - 320))),
    555px
  );
  position: relative;
  margin-bottom: 100px;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  p {
    margin-top: clamp(
      10px,
      calc(10px + 14 * ((100vw - 320px) / (1440 - 320))),
      24px
    );
    color: #0b3b3c;
    text-align: start;
    // font-size: 24px;
    font-size: clamp(
      14px,
      calc(10px + 14 * ((100vw - 320px) / (1440 - 320))),
      24px
    );
    line-height: clamp(
      20px,
      calc(20px + 20 * ((100vw - 320px) / (1440 - 320))),
      40px
    );

    font-weight: 700;
    letter-spacing: 0.72px;
  }
}

.main-eight-container-card-read-more {
  position: absolute;
  bottom: 0px;
  a {
    padding-right: 3px;
    text-align: start;
    display: block;
    text-decoration: none;
    color: #0b3b3c;
    font-size: clamp(
      12px,
      calc(12px + 2 * ((100vw - 320px) / (1440 - 320))),
      14px
    );
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
}

.main-eight-container-card-line {
  width: clamp(85px, calc(85px + 20 * ((100vw - 320px) / (1440 - 320))), 105px);
  height: 2px;
  background: #0b3b3c;
}

.img-slider {
  max-width: 100%;
}

.background-color-slide {
  position: relative;
  width: clamp(154px, 49.3vw, 710px);
  height: clamp(
    300px,
    calc(300px + 301 * ((100vw - 320px) / (1440 - 320))),
    601px
  );
  background-color: #e8efe9;
  margin: 0 auto;
}

.slide-inner {
  // width: 36.52vw;
  width: 74.08%;

  position: absolute;
  top: clamp(20px, calc(20px + 110 * ((100vw - 320px) / (1440 - 320))), 130px);
  // top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  max-width: 100%;
}

.swiper-second {
  max-width: 100%;
}
// конец 8 контейнера
