* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Rubik;
  font-style: normal;
  line-height: normal;
  background-color: #985ace;
}

main {
  max-width: 483px;
  margin: auto;
}

.container-block {
  max-width: 458px;
  /* max-height: 627px; */
  margin: 30px 15px;
  /* margin-top: 50px; */
  background-color: #ffffff;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.17);
  /* margin-bottom: 30px; */
}

.container-block h1 {
  padding-top: 40px;
  margin-bottom: 30px;
  color: #000;
  text-align: center;
  font-family: HelveticaNeue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.input-container {
  max-width: 273px;
  /* max-height: 40px; */
  margin: auto;
  margin-bottom: 20px;
  padding-left: 15px;
  /* background-color: #f8f1ff; */
  border-radius: 7px;
  background: #f8f1ff;
}

.input-container input {
  width: 90%;
  margin: 0 auto;
  padding: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  /* background-color: #403a4b; */
  /* border: none; */
  /* border-color: transparent; */
}

.Obligatory-field {
  display: block;
  font-size: 14px;
  color: green;
  margin-top: 5px;
  padding-bottom: 5px;
  /* display: none; */
}

.error-span {
  display: block;
  font-size: 12px;
  color: red;
  margin-top: 5px;
  padding-bottom: 5px;
  /* display: none; */
}

.input-container-visible {
  display: block;
}
.input-inform {
  padding-top: 5px;
  margin-bottom: 5px;
}

#Enter{
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

#Enter:hover{
background-color: blue;
color: white;
}

.glow-on-hover {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container-button {
  max-width: 160px;
  margin: auto;
  /* margin-bottom: 30px; */
  height: 60px;
}

#floating-button-registration {
  text-decoration: none;
  outline: none;
  display: block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: auto;
}

#floating-button-registration:hover {
  /* background: #2ee59d; */
  background: #985ace;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.styleButton{
  text-decoration: none;
  outline: none;
  display: block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.styleButton:hover{
  /* background: #2ee59d; */
  background: #985ace;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px); 
}

.container-terms-of-use {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

/* CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#Agree {
  text-decoration: none;
  outline: none;
  display: block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin: auto;
  margin-top: 20px;
}


#finish-registration{
  position: fixed;
  bottom: 30%;
  left: 50%;
  
  transform: translateX( -50%);
  width: 200px;
  height: 200px;
  background-color: aqua;
  border-radius: 40px;
  /* display: none; */
}

#finish-registration button{
  display: block;
  margin: auto;
  margin-top: 40px;
}

#finish-modal{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.bodyOverflow{
  overflow: hidden;
  
}

.visibleFinishModal{
  display: block;
}

#enter{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#header-main-page{
  background-color: #0b3b3c;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}


#header-home-page{
  background-color: #0b3b3c;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  margin-right: 0;
  margin-left: auto;
  border-radius: 10px;
}

.dark-theme{
  background-color: black;
}

#myLink{
  color: blue;
  text-decoration: underline;
}