footer {
  background-color: #0b3b3c;
}

.footer-master-container {
  margin: 0 auto;
  max-width: 1000px;
  // padding-left: 10px;
  padding: 40px 10px;
  // padding-top: 40px;
  // padding-bottom: 40px;
}

.footer-container {
  margin-left: 0px;
  max-width: 821px;
  margin-bottom: 85px;
}

.footer-question-manual-learn-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  // display: grid;
  // grid-template-columns: 51.52% 48.48%;

  h3 {
    text-align: start;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px; /* 140% */
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  li {
    text-align: start;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px; /* 193.846% */
    letter-spacing: 0.84px;
    margin-top: 14px;
  }
}

.footer-question-manual-learn {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: clamp(50px, calc(19.79vw), 285px);
  // margin: 0 auto;
  // gap: 285px;
}

// .footer-question-manual-learn-left-div{
//   margin: 0 auto;
// }

.footer-discription {
  text-align: start;
  color: #6d8a83;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 180% */
  letter-spacing: 0.84px;
  margin-bottom: 10px;
}

.footer-question-manual-learn-contacts {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 10px;

  img {
    width: 20px;
    height: 26px;
  }
}
.phone-number {
  display: block;
  text-align: start;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 180% */
  letter-spacing: 0.84px;
  margin-bottom: 2px;
}
.time {
  text-align: start;
  color: #6d8a83;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px; /* 180% */
  letter-spacing: 0.72px;
}

.learn {
  text-align: start;
  color: #6d8a83;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2.1px;
  text-transform: uppercase;
  //   margin-bottom: 7px;
}

.right-inform {
  width: 113px;
  // margin-left: 10px;
  margin: 0 auto;
  // margin-right: 0px;
}

.left-inform {
  width: 143px;
}

.footer-logo-social-net {
  max-width: 358px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.social-net {
  display: flex;
  gap: 1px;
  max-width: 150px;
  div {
    position: relative;
    background-image: url(/img/Stroke-551.svg);
    background-size: 100%;
    display: block;
    width: 50px;
    height: 54px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #fff;
    opacity: 0.3;
    img {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.signature {
  display: block;
  // margin: 7px 0 0 0;
  width: 168px;
  height: 46px;
}

.footer-text-container {
  max-width: 413px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  gap: 10px;
  flex-wrap: wrap;

  p {
    flex-shrink: 0 ;
    display: inline-block;
    text-align: start;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px; /* 180% */
    letter-spacing: 0.72px;
    // margin-bottom: 9px;
  }
}

.footer-text-last {
  margin-top: 9px;
  //   margin-top: 9px;
  text-align: start;
  color: #6d8a83;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.6px; /* 180% */
  letter-spacing: 0.72px;
}

.footer-question-manual-learn-contacts-circle {
  position: relative;
  background-image: url(/img/circle.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

$speed: 0.5s;

.btn-flip{
  max-height: 40px;
  border-radius: 20px;
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Open Sans';
  text-transform: uppercase;
  border: none;
  
  
  &:hover{
    
    &:after{
      opacity: 1;
      transform: translateY(0) rotateX(0);
      border: none;
    }
    
    &:before{
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
      border: none;
    }
  }
  
  &:after{
    border-radius: 20px;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    background-color: #323237;
    display: block;
    transition: $speed;
    position: absolute;
    color: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border: none;
  }
  
  &:before{
    border-radius: 20px;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: $speed;
    position: relative;
    color: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border: none;
  }
}
#map-button{
  background: none;
  border: none;
}