@media (max-width: 372px) {
  .main-six-container-text {
    font-size: 18px;
    line-height: normal;
  }

  .main-six-container-inner-container {
    h2 {
      margin-bottom: 15px;
      line-height: normal;
      font-size: 25px;
    }
  }

  .main-second-section {
    h2 {
      line-height: normal;
      font-size: 25px;
    }
  }

  .footer-question-manual-learn {
    gap: 30px;
  }

  .footer-container {
    margin-bottom: 40px;
  }

  .footer-logo-social-net {
    margin-bottom: 30px;
  }

  .signature {
    margin: 0 auto 20px auto;
  }
  .social-net {
    margin: 0 auto;
  }
}

@media (max-width: 894px) {
  .main-six-conainer-card-people-flex-container {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
 #header-about-left{
  display: block;
 }

 #header-about-right{
  display: none;
 }
  
  .header-container-link-right {
    gap: 14px;
  }

  .header-container .central-img {
    width: auto;
    height: auto;
  }

  .header-container .central-img svg {
    width: 100%;
  }

  .header-button-burger {
    margin: auto;
    display: block;
  }

  .header-link {
    position: fixed;
    top: 0px;
    left: -160px;
    width: 160px;
    padding-top: 65px;
    flex-direction: column;
    background-color: white;
    transition: transform 0.5s;
    z-index: 9;
  }

  .header-link a {
    display: block;
    margin-bottom: 20px;
  }

  .header-link a {
    color: black;
    font-size: 16px;
  }

  .header-container.open .header-link {
    transform: translateX(100%);
  }
  .header-container.open .header-button-burger span {
    background-color: red;
  }

  .header-container.open .header-button-burger span:nth-child(1) {
    transform: translate(-50%, 0) rotate(45deg);
  }
  .header-container.open .header-button-burger span:nth-child(2) {
    opacity: 0;
  }

  .header-container.open .header-button-burger span:nth-child(3) {
    transform: translate(-50%, 0) rotate(-45deg);
  }

  .header-container.open .blackOver {
    display: block;
    border: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background: #0000005e;
    left: 0;
    top: 0;
    z-index: 8;
  }

  body.body-scroll {
    overflow: hidden;
  }

  .header-container {
    max-height: 44px;
    margin: 18px auto;
    max-width: 1360px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    // flex-wrap: wrap;
  }

  /* .header-link {
    display: none;
  } */

  .main-left-text {
    margin-top: 20px;
  }
  .main-container-first-img-h1 {
    .main-container-first-img-h1-inner-container {
      max-width: 280px;
      h1 {
        width: 280px;
        margin-bottom: 15px;
      }
      p {
        line-height: normal;
      }
    }

    .flex-container-button {
      /* // flex-direction: row; */
      gap: 10px;
      button {
        // max-width: 150px;
        height: 35px;
        span {
          font-size: 12px;
        }
      }
    }
  }

  .main-container-first-icon-grid {
    margin-top: clamp(
      20px,
      calc(20px + 25 * ((100vw - 320px) / (768 - 320))),
      45px
    );
    grid-template-columns: repeat(2, 50%);
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;

    div {
      margin: 0 auto;
    }
  }

  .main-second-section {
    margin-bottom: clamp(
      50px,
      calc(50px + 34 * ((100vw - 320px) / (768 - 320))),
      84px
    );
    margin-bottom: 0px;
    #loop {
      display: none;
    }
  }
  .main-container-card {
    margin-bottom: 0px;
  }

  /* // третий контейнер начало */
  .main-card-treatments {
    div {
      img {
        width: 100%;
      }
      a {
        font-size: 12px;
      }

      p {
        max-width: clamp(
          130px,
          calc(130px + 200 * ((100vw - 320px) / (1440 - 320))),
          300px
        );
        font-size: clamp(
          12px,
          calc(12px + 2 * ((100vw - 320px) / (1440 - 320))),
          14px
        );
        line-height: 20px;
      }
    }
  }

  .main-card-treasments-inner-container {
    height: auto;
    margin-top: clamp(
      0px,
      calc(0px + 20 * ((100vw - 320px) / (1440 - 320))),
      20px
    );
  }

  .main-card-treasments-inner-container-view-line {
    .line {
      width: 140px;
    }
  }

  /* // третий контейнер контейнер */

  /* // четвертый контейнер */

  .main-fourth-section {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  .main-right-icons {
    grid-gap: 8px;
    grid-template-columns: repeat(
      3,
      clamp(90px, calc(90px + 60 * (100vw - 320px) / (768 - 320)), 150px)
    );
    grid-template-rows: repeat(
      3,
      clamp(100px, calc(100px + 50 * (100vw - 320px) / (768 - 320)), 150px)
    );
    margin: 20px auto;
  }

  .main-left-text {
    h2 {
      line-height: normal;
      font-size: 24px;
      text-align: center;
    }

    margin-left: clamp(
      0px,
      calc(0px + 20 * ((100vw - 320px) / (768 - 320))),
      20px
    );

    button {
      max-width: 280px;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      margin: auto;
    }
  }

  #new {
    display: none;
  }
  /* // конец четвертого контейнера

  // пятый контейнер */

  .main-six-container-Book-Consultation {
    button {
      margin: 20px auto 0 auto;
      width: 280px;
    }
  }

  .main-six-container-book-consultation-left-flex {
    margin: auto 0 auto 20px;
  }

  .main-six-container-card-people-flex {
    div {
      margin-bottom: 30px;
    }
  }

  .main-six-conainer-card-people-flex-container {
    margin: 0 auto;
  }

  .main-six-container {
    margin-bottom: 50px;
  }

  .main-fifth-container {
    margin-bottom: 50px;
  }

  .main-seven-container {
    margin-bottom: 50px;
  }

  .main-seven-container-button {
    flex-wrap: wrap;
    margin: 15px auto;
    button {
      height: 40px;
      // margin: 0 20px;
      font-size: 12px;
      width: clamp(
        110px,
        calc(110px + 118 * ((100vw - 320px) / (768 - 320))),
        228px
      );
    }
  }

  .main-eight-container-card {
    width: 32.42vw;
  }

  .main-eight-container {
    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 33px;
    }
  }

  .main-eight-container-card {
    height: clamp(
      250px,
      calc(280px + 275 * ((100vw - 320px) / (1440 - 320))),
      555px
    );
    position: relative;
    margin-bottom: 100px;
  }

  .main-eight-container-text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 590px) {
  // .header-container .central-img {
  //   display: none;
  // }

  .lng-no-waiting{
    margin: 0;
    margin-bottom: 8px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: auto;
  }

  .main-card-treatments {
    div {
      a {
        font-size: 10px;
      }
    }
  }

  .main-container-first-icon-grid {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    div {
      max-width: 290px;
      margin: 0 auto;
    }
  }

  .main-container-first-img-h1 {
    .main-container-first-img-h1-inner-container {
      top: 10px;
      width: 270px;
      top: 10px;
      h1 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
    }

    .flex-container-button {
      button {
        height: 30px;
        font-size: 10px;
      }
    }
  }

  #grid-check-mark {
    display: inline-block;
  }
}
