/* Стили для скролла */
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 

  .admin-panel-section{
    max-width: 1410px;
    margin: auto;
    overflow-x: auto;
    height: 300px;
    overflow-y: scroll;
  }
  .admin-panel-section div{
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    width:100%;
	table-layout: fixed;
	
    min-width: 1000px;
    height: 200px;
    overflow-y: scroll;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    cursor: pointer;
  }

  #header-main-page{
    background-color: #0b3b3c;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
  }

  .dark-theme{
    background-color: black;
    color: white;
    fill: white;
  }

  .dark-theme-manual{
    fill: white;
  }